@media screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        max-width: 4000px;
    }

    .team-list .team-member {
        margin-right: 24px;
        width: calc((100%) / 4);
    }

    address ul li a {
        flex-direction: row;
     }

    .features-list {
        padding: 120px 0;
    }

    .feature {
        gap: 24px;
    }

    .feature-icon {
        height: 112px;
        width: 264px;
        background-color: #F4F4FD;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 22px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .team-list {
        flex-wrap: nowrap;
    }

    .footer-wrapper {
        flex-wrap: nowrap;
    }
}